@media all and (max-width: 770px) {
    .image-logo {
      width: 10rem;
      height: auto;
    }
    .dark-button {
        padding-right: 1.5rem;
    }
}
@media all and (min-width: 770px) {
    .dark-button {
      padding-right: 1.5rem;
    }
}