@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400&display=swap');
.rr2
{
    width:40%;
    padding-top: 10%;
    padding-left: 5%;
    font-weight: 600;
    font-size:2vw;
    font-family: 'Blinker', sans-serif;
}
.rr3
{
    width:20%;
}
.about_text
{
    font-weight: 600;
    font-size:2vw;
    font-family: 'Blinker', sans-serif;
}
.whyus
{
font-weight: 600;
font-size: 2vw;
color: #ff5975;
padding-top: 100px;
margin-left: 200px;
}
@media all and (max-width: 770px) {
    .Aboutus { 
      display: none !important;
    }
    
  }
  @media all and (min-width: 770px) {
    .Aboutussmall { 
      display: none !important;
    }
    
  }
  .smallpara
  {
    font-weight: 600;
    font-size:3vw;
    font-family: 'Blinker', sans-serif;
    text-align: left;
    padding-left: 7%;
  }