.App {
  
  background-color:#F5F6F1;
  overflow: hidden;
}
.dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color:#97ed4c;
	color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: "#97ed4c";
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#lets_talk{
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 10px;
	border: 3px solid rgba(255,89,117,1);
	font-weight: 900;
}
#lets_talk:hover {
	background-color: #FF5975;
	color: white;
  }
h2,
h3,
a {
	color: #363636;
}

a {
	text-decoration: none;
}
.logo {
	margin-left: 1rem;
	font-size: 1.45em;
}

.main-nav {
	margin-top: none;
	margin-left: 0.5vw;
	margin-right: 5.0vw;

}
.logo a,
.main-nav a {
	padding: 10px 30px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	
}

.main-nav a {
	color: #363636;
	font-size: .99em;
}

.main-nav a:hover {
	color: black;
}
/* .header {
	padding-top: .1rem;
	padding-bottom: .1rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1px;
} */
.scroll-to-top {
	position: fixed;
	bottom: 7.5rem;
	right: 5.5rem;
	animation: fadeIn 700ms ease-in-out 1s both;
	cursor: pointer;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  


/* ================================= 
  Media Queries
==================================== */



/* 
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

  */
  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 100px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 100px;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}
.navbar{
	opacity: 5;
}
.bg-nav{
	background-color: #F5F6F1;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("toggle-icon.png");
}


.nav-link{
 margin-right: 50px;
}

/* @media (max-width: 992px) {
	.nav-link{
		margin-bottom: 3px;
	   }
} */


.toogle-btn-li{
	margin-top: 15px;
	margin-left: 50vw
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: #F5F6F1;
}

.navbar h2{
	color: #FF5975;
}
.nav-sidebar-text{
	font-weight: 900;
}

.lets_talk_sidebar{
	border-radius: 10px;
	border: 3px solid rgba(255,89,117,1);
	font-weight: 900;
}
.lets-talk-sidebar-div{
position: absolute;
right: 12px;
bottom:   0;
}

.side-nav-email{
	font-size: 14px;
}
.services-text{
	font-weight: 700;
}
.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background:#001B127A;
    overflow: hidden;
    display: none;
}
.navbar-collapse{
	z-index: 9999;
}

.dropdown-menu{
	z-index: 100;
}
.nav-services{
	margin-top: 80px;
}
.nav-link{
	cursor: pointer;
}
.nav-serices-menu{
	position: fixed;
	background-color: #F5F6F1;
	box-shadow: 5px 10px 18px rgb(223, 135, 135);
	z-index: 100;
}