
.e1146_128 { 
	width:1877px;
	height:832px;
	position:absolute;
}
.e1126_1304 { 
	width:200px;
	height:630px;
	position:absolute;
	left:0px;
	top:120px;
}
.e1126_1305 { 
	box-shadow:10px 10px 20px rgba(150.99997580051422, 237.0000010728836, 75.999995470047, 0.699999988079071);
	background-color:rgba(151.00000619888306, 237.0000010728836, 76.0000030696392, 1);
	width:200px;
	height:630px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e1126_1306 { 
	transform: rotate(3.0617613445625937e-22deg);
	background-color:rgba(151.00000619888306, 237.0000010728836, 76.0000030696392, 1);
	width:604px;
	height:795px;
	position:absolute;
	left:605px;
	top:37px;
}
.e1126_1307 { 
	box-shadow:-10px -10px 20px rgba(255, 255, 255, 1);
	transform: rotate(3.0617613445625937e-22deg);
	background-color:rgba(52.000000700354576, 194.00000363588333, 94.0000019967556, 1);
	width:431px;
	height:495px;
	position:absolute;
	left:398px;
	top:187px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e1126_1308 { 
	box-shadow:0px -10px 20px rgba(255, 255, 255, 1);
	transform: rotate(3.0617613445625937e-22deg);
	background-color:rgba(52.000000700354576, 194.00000363588333, 94.0000019967556, 1);
	width:433px;
	height:795px;
	position:absolute;
	left:1209px;
	top:37px;
	/* border-radius:Symbol(figma.mixed)px; */
}
.e1126_1361 { 
	width:73px;
	height:73px;
	position:absolute;
	left:62px;
	top:184px;
}
.e1126_1362 { 
	width:37.028282165527344px;
	height:37.024017333984375px;
	position:absolute;
	left:30.820249557495117px;
	top:0.5846508741378784px;
}
.e1126_1363 { 
	width:37.028282165527344px;
	height:37.024017333984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1364 { 
	background-color:rgba(255, 255, 255, 1);
	width:37.028282165527344px;
	height:37.024017333984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1365 { 
	width:37.00550842285156px;
	height:37.102745056152344px;
	position:absolute;
	left:19.60362434387207px;
	top:11.8201265335083px;
}
.e1126_1366 { 
	width:37.00550842285156px;
	height:37.102745056152344px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1367 { 
	background-color:rgba(255, 255, 255, 1);
	width:37.00550842285156px;
	height:37.102745056152344px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1368 { 
	width:27.589080810546875px;
	height:27.587894439697266px;
	position:absolute;
	left:4.296761512756348px;
	top:36.641239166259766px;
}
.e1126_1369 { 
	width:27.589080810546875px;
	height:27.587894439697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1370 { 
	background-color:rgba(255, 255, 255, 1);
	width:27.589080810546875px;
	height:27.587894439697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1371 { 
	width:18.25725555419922px;
	height:23.65717315673828px;
	position:absolute;
	left:27.348407745361328px;
	top:49.34290313720703px;
}
.e1126_1372 { 
	width:18.25725555419922px;
	height:23.65717315673828px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1373 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.25725555419922px;
	height:23.65717315673828px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1374 { 
	width:4.27734375px;
	height:8.554703712463379px;
	position:absolute;
	left:47.31658172607422px;
	top:0px;
}
.e1126_1375 { 
	width:4.27734375px;
	height:8.554703712463379px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1376 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.27734375px;
	height:8.554703712463379px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1377 { 
	width:8.554710388183594px;
	height:4.277349472045898px;
	position:absolute;
	left:60.14863586425781px;
	top:17.109455108642578px;
}
.e1126_1378 { 
	width:8.554710388183594px;
	height:4.277349472045898px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1379 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.554710388183594px;
	height:4.277349472045898px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1380 { 
	width:8.554622650146484px;
	height:8.55468463897705px;
	position:absolute;
	left:55.87130355834961px;
	top:4.277113914489746px;
}
.e1126_1381 { 
	width:8.554622650146484px;
	height:8.55468463897705px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1382 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.554622650146484px;
	height:8.55468463897705px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1383 { 
	width:66px;
	height:66px;
	position:absolute;
	left:75px;
	top:473px;
}
.e1126_1384 { 
	width:11.639205932617188px;
	height:11.6015625px;
	position:absolute;
	left:38.571529388427734px;
	top:0px;
}
.e1126_1385 { 
	width:11.639205932617188px;
	height:11.6015625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1386 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.639205932617188px;
	height:11.6015625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1387 { 
	width:50.26222610473633px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1388 { 
	width:50.26222610473633px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1389 { 
	background-color:rgba(255, 255, 255, 1);
	width:50.26222610473633px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1390 { 
	width:6.318500518798828px;
	height:6.32098388671875px;
	position:absolute;
	left:37.08157730102539px;
	top:41.61228942871094px;
}
.e1126_1391 { 
	width:6.318500518798828px;
	height:6.32098388671875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1392 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.318500518798828px;
	height:6.32098388671875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1393 { 
	width:18.225933074951172px;
	height:18.226572036743164px;
	position:absolute;
	left:41.09794235229492px;
	top:25.691762924194336px;
}
.e1126_1394 { 
	width:18.225933074951172px;
	height:18.226572036743164px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1395 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.225933074951172px;
	height:18.226572036743164px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1396 { 
	width:9.433418273925781px;
	height:9.377281188964844px;
	position:absolute;
	left:56.566566467285156px;
	top:19.071365356445312px;
}
.e1126_1397 { 
	width:9.433418273925781px;
	height:9.377281188964844px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1398 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.433418273925781px;
	height:9.377281188964844px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1399 { 
	width:0.03726959228515625px;
	height:0.03755950927734375px;
	position:absolute;
	left:64.86759185791016px;
	top:25.601146697998047px;
}
.e1126_1400 { 
	width:0.03726959228515625px;
	height:0.03755950927734375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1401 { 
	width:0.03726959228515625px;
	height:0.03755950927734375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1126_1402 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.010955810546875px;
	height:0.01087188720703125px;
	position:absolute;
	left:0px;
	top:0.0266876220703125px;
}
.e1126_1403 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.01696014404296875px;
	height:0.016956329345703125px;
	position:absolute;
	left:0.010986328125px;
	top:0.00923919677734375px;
}
.e1126_1404 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.00884246826171875px;
	height:0.008790969848632812px;
	position:absolute;
	left:0.0284271240234375px;
	top:0px;
}
.e1126_1405 { 
	width:76px;
	height:76px;
	position:absolute;
	left:59px;
	top:327px;
}
.e1126_1406 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.78571319580078px;
	height:48.29520797729492px;
	position:absolute;
	left:31.21429443359375px;
	top:20.696125030517578px;
}
.e1126_1407 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.78571701049805px;
	height:45.5809211730957px;
	position:absolute;
	left:0px;
	top:7.125px;
}
.e1126_1408 { 
	width:72px;
	height:73px;
	position:absolute;
	left:59px;
	top:609px;
}
.e1126_1409 { 
	width:63px;
	height:63.62811279296875px;
	position:absolute;
	left:4.5px;
	top:4.809106349945068px;
}
.e1126_1410 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.570518493652344px;
	height:17.760101318359375px;
	position:absolute;
	left:40.714744567871094px;
	top:15.967878341674805px;
}
.e1126_1411 { 
	background-color:rgba(255, 255, 255, 1);
	width:43.07062530517578px;
	height:25.409709930419922px;
	position:absolute;
	left:2.0896739959716797px;
	top:38.21834945678711px;
}
.e1126_1412 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.5px;
	height:4.5625px;
	position:absolute;
	left:21.375px;
	top:31.690893173217773px;
}
.e1126_1413 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.898609161376953px;
	height:3.421875px;
	position:absolute;
	left:24.75px;
	top:2.0346436500549316px;
}
.e1126_1414 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.5px;
	height:4.5625px;
	position:absolute;
	left:0px;
	top:31.690893173217773px;
}
.e1126_1415 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.5px;
	height:4.5625px;
	position:absolute;
	left:42.75px;
	top:31.690893173217773px;
}
.e1126_1416 { 
	background-color:rgba(255, 255, 255, 1);
	width:27px;
	height:54.50333786010742px;
	position:absolute;
	left:36px;
	top:0px;
}
.e1126_1417 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.25px;
	height:2.28125px;
	position:absolute;
	left:48.375px;
	top:5.456518650054932px;
}
.e1126_1418 { 
	background-color:rgba(255, 255, 255, 1);
	width:9px;
	height:9.125px;
	position:absolute;
	left:5.625px;
	top:20.284639358520508px;
}
.e1126_1422 { 
	width:292px;
	height:443px;
	position:absolute;
	left:455px;
	top:205px;
}
.e1126_1423 { 
	color:rgba(255, 255, 255, 1);
	width:292px;
	height:284px;
	position:absolute;
	left:0px;
	top:159px;
	font-family:Blinker;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1126_1424 { 
	color:rgba(255, 255, 255, 1);
	width:247px;
	height:79px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:Blinker;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e1126_1457 { 
	width:1289px;
	height:806px;
	position:absolute;
	left:588px;
	top:0px;
}
.e1126_1458 { 
	width:992px;
	height:793px;
	position:absolute;
	left:297px;
	top:0px;
	/* background-image:url(images/chart_2_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.e1126_1459 { 
	width:1008px;
	height:806px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/chart_3_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}