@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@800&display=swap");
.whyus {
  padding: "2px";
  margin-top: 0.5%;
  margin-bottom: 2rem;
}
img.ok {
  z-index: 999999 !important;
  opacity: 1;
  margin-left: 25%;
}
.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  /* overflow: hidden; */
}
.thumbnail > img {
  max-width: 100%;
  height: 100%;
  transition: all 0.3s ease
}

.thumbnail div {
 position: absolute;
 background: #1c8463;
 color: #fff;
 width: 100%;
 height: 100%;
 opacity: 0;
 transition: all 0.3s ease;
 text-align: center;
 font-size: 30px;
 z-index: 2;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


@media only screen and (max-width: 600px) {
  .thumbnail div {
    font-size: 15px;

  }
}


.thumbnail:hover > img {
 transform: scale(1.3)
}

.thumbnail:hover > div {
 opacity: 1
}
#small-grid
{
 margin-left: "180px";
 background-color: red;
        
}
.cardname {
  padding-left: 120px;
  font-weight: 600;
  font-family: "Blinker", sans-serif;
  padding-left: 120px;
  padding-bottom: 20%;
}
@media all and (max-width: 770px) {
  #tst {
    display: none !important;
  }
}
