.first_image
{
    object-fit: contain;
    width: 100%;
}
.check
{
    height: 2000px;
    background-color: red;
}
.saly1
{
    padding-top:0rem !important;
}
.saly
{
width:70%;
padding-top: 3rem;
margin-left: 25%;
padding-bottom: 20%;
}

.text
{
    width: 50%;
    padding-top: 3rem;
    margin-left: 25%;
    padding-bottom: 20%;
}
.second
{
    width: 90%;
    padding-top:7rem;
    margin-left: 10%;
}
.Third
{
    width: 90%;
    padding-top:7rem;
    margin-left: 10%;
}
.fourth
{ width: 90%;
    padding-top:7rem;
    margin-left: 10%;
}
.second:hover {
    transform: scale(0.7);
    transition-duration: 0.9s;
}
.Third:hover {
    transform: scale(0.7);
    transition-duration: 0.9s;
}
.fourth:hover {
    transform: scale(0.7);
    transition-duration: 0.9s;
}

@media all and (max-width: 770px) {
    .reverse-items { 
        display: flex;
      flex-direction: column-reverse;
    }
    .text
    {
        float: left;
        padding-left: 8%;
        width: 80%;
    }
    .saly
{
width:90%;
padding-top: 3rem;
margin-left: 8%;
padding-bottom: 10%;
}
.text
{
    width: 90%;
    padding-top: 3rem;
    margin-left: 4%;
    padding-bottom: 10%;
}
.dashbig { 
    display: none !important;
  }
  }

  @media all and (min-width: 770px) {
    .dashsmall { 
      display: none !important;
    }
   
  }