.plant
{
width:100%;
padding-left: 15vw;
padding-bottom: 7vw;
padding-top: 2vw;
}
/* #design-develop-button
{
  width:50%;
  object-fit: contain;
 padding-left: 50%;
} */
@media all and (max-width: 770px) {
    .workLaptopView { 
      display: none !important;
    }
  }
  @media all and (min-width: 770px) {
    .worksmall { 
      display: none !important;
    }
     #design-develop-buttons
{
  width:50%;
  object-fit: contain;
 padding-left: 50%;

} 
  }
  .worksmall 
  {
      justify-content:center;
  }
