
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@800&display=swap');


.help
{
    width:100vw;
    object-fit: contain;
}
.text_help
{
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    font-size: 23px;
    /* line-height: 47px; */
    /* margin-left: 10%; */
}
.text-convert
{
    font-family: 'Blinker', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    /* padding-left: 10vmin; */
}
.text-convert2
{
    font-family: 'Blinker', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    padding-left: 10vmin;
}
.serve
{
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    padding-left: 10vmin;
    color: #34c25e;
}

@media all and (max-width: 770px) {
    .text_help 
    {
     align-items: left;
      border-bottom: 3px dotted;
   
    }
    .list-service
    {
       justify-content: left;
      
    }
    .text-convert
{
   
    font-size: 8vw;
}
.text-convert2
{
   
    font-size: 8vw;
    padding-bottom: 5%;
}
.serve
{
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 6vw;
    padding-left: 8%;
    color: #34c25e;
}
.text-help
{
    margin-left: 20%;
}
}
@media all and (min-width: 770px) {
    .text_help 
    {
     align-items: left;
     margin-left: 24%;
   
    }}
