@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400&display=swap');

.op
{
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    font-size: 2.5vw;
   margin-left: 9vw;
   margin-bottom: 20vw;
   text-align: left;
}
.op2
{
    font-weight: 400;
    font-family: 'Blinker', sans-serif;
    font-size: 2vw;
   margin-left: 9vw;
   margin-left: 7vw;
 align-items: center;
   text-align: left;
   margin-bottom: 20vw;
}
@media all and (max-width: 767px) {
  .linkphototest { 
    display: none;
  }
}