@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400&display=swap');
.body
{
  overflow: hidden;
}
.op
{
    font-weight: 600;
    font-family: 'Blinker', sans-serif;
    font-size: 5vmin;
   margin-left: 4vmin;
   margin-bottom: 3vw;
   text-align: left;
}
.op2
{
    font-weight: 400;
    font-family: 'Blinker', sans-serif;
    font-size: 5.0vmin;
    margin-left: 2vmin;
   text-align: left;
   margin-bottom: 20vmin;
}
@media all and (max-width: 770px) {
  .linkphototest { 
    display: none;
  }
}
@media all and (max-width:770px){
  .op{
    font-size:25px
  }
}