.imaj
{
    width: 90vw;
    margin-top: 1rem;
    padding-left:10%
}
.imajtop
{
  padding-left:40%
}
.whatsay
{
  padding-top: 7%;
}
@media all and (max-width: 770px) {
    .whatsay { 
      font-size:0.75rem;
      justify-content: center;
    }
  }
  